<div class="container">
  <div class="row text-center">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Owners Name</th>
                  <th scope="col">Owners Phone</th>
                  <th scope="col">Owners Email</th>
                  <th scope="col">Scheduled Apt.</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let o of owners">
                  <td>
                    {{o.OwnersFirstName + o.OwnersLastName}}
                  </td>
                  <td>
                    {{o.OwnersPhoneNumber}}
                  </td>
                  <td>
                    {{o.OwnersEmailAddress}}
                  </td>
                  <td>
                    {{o.OwnersPhoneNumber}}
                  </td>
                  <td>
                    <button nbButton outline status="primary" [routerLink]="['/get-owners-stores' ,o.ID]" class="btn btn-sm action-button">
                      <i class="fa fa-building"></i>Stores
                    </button>
                    <button nbButton outline status="info" [routerLink]="['/get-owners', o.ID]" class="btn btn-danger btn-sm action-button">
                      <i class="fa fa-info-circle"></i>  Details
                    </button>
                    <button (click)="deleteOwner(o.ID)" nbButton status="danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <nb-card-footer>
          <button nbButton status="success" (click)="openWindow() "routerLink="">Add an Owner</button>
        </nb-card-footer>
      </nb-card-body>
    </nb-card>

  </div>
</div>
